<html>
<head>
<title>About  RTF TO XML</title>
<meta content="text/html; charset=iso-8859-1">
</head>
<body>
<FONT face="Comic Sans MS">
<p align="center"><b>Ïðàâèëà èãðû</b></p>
<p align="center">íè÷åì íå îòëè÷àþòñÿ îò ïðàâèë èãðû â ñòàíäàðòíîãî ñàïåðà èç Windows. 
Òîëüêî äåéñòâèå ðàçâîðà÷èâàåòñÿ íå íà ïëîñêîñòè ïîäåëåííîé íà êâàäðàòèêè, à â îáúåìå ïîðóáëåííîì íà êóáèêè (Âû &#151; ñàïåð-ïîäâîäíèê).</p>
<p align="center">×èñëî â ÿ÷åéêå ïîêàçûâàåò êîëè÷åñòâî ìèí â êóáå 3x3x3 ñ öåíòðîì â äàííîé ÿ÷åéêå.</p>
<p align="center">Ïåðåìåùàòüñÿ â ãëóáèíó ìîæíî ñïåöèàëüíûìè êíîïêàìè íà èãðîâîì ïîëå èëè êîëåñèêîì ìûøè.</p>
</FONT>
</body>
</html>
